/* 전체 그리드 */
h1 {
  font-size: 30px;
}
h2 {
  padding: 13px 20px;
}

section {
  padding: 5px;
}


/* 게임 */
.title-game,
.title-developer,
.description-developer {
  padding-left: 20px;
}
.description__game {
  margin: 0px 10px;
  padding: 20px 0px 20px 0px;
}
.description-game
{
  padding: 10px 20px;
}

/* 소감 */
.question {
  margin: 0px 10px;
}
.answer {
  padding: 10px 20px;
}

/* 사진첩 */
.item__gallery {
  display: block;
}

